In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib as mpl
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('./data./train.csv')
test_df = pd.read_csv('./data./test.csv')

In [3]:
df.index

RangeIndex(start=0, stop=2478, step=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2478 entries, 0 to 2477
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2478 non-null   object
 1   first_party         2478 non-null   object
 2   second_party        2478 non-null   object
 3   facts               2478 non-null   object
 4   first_party_winner  2478 non-null   int64
dtypes: int64(1), object(4)
memory usage: 96.9+ KB

In [5]:
df.describe()

       first_party_winner
count         2478.000000
mean             0.665456
std              0.471926
min              0.000000
25%              0.000000
50%              1.000000
75%              1.000000
max              1.000000

In [6]:
df.head()

,ID,first_party,second_party,facts,first_party_winner
0,TRAIN_0000,Phil A. St. Amant,Herman A. Thompson,"On June 27, 1962, Phil St. Amant, a candidate ...",1
1,TRAIN_0001,Stephen Duncan,Lawrence Owens,Ramon Nelson was riding his bike when he suffe...,0
2,TRAIN_0002,Billy Joe Magwood,"Tony Patterson, Warden, et al.",An Alabama state court convicted Billy Joe Mag...,1
3,TRAIN_0003,Linkletter,Walker,Victor Linkletter was convicted in state court...,0
4,TRAIN_0004,William Earl Fikes,Alabama,"On April 24, 1953 in Selma, Alabama, an intrud...",1

In [7]:
!pip install nltk

Requirement already satisfied: nltk in c:\python\python310\lib\site-packages (3.8.1)
Requirement already satisfied: joblib in c:\python\python310\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: tqdm in c:\python\python310\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: click in c:\python\python310\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: regex>=2021.8.3 in c:\python\python310\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: colorama in c:\users\navyb\appdata\roaming\python\python310\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
pip install nltk

Collecting nltkNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\navyb\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

  Using cached nltk-3.8.1-py3-none-any.whl (1.5 MB)
Collecting click (from nltk)
  Using cached click-8.1.7-py3-none-any.whl (97 kB)
Requirement already satisfied: joblib in c:\users\navyb\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.3.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2023.10.3-cp311-cp311-win_amd64.whl (269 kB)
                                              0.0/269.6 kB ? eta -:--:--
     -------------------------------------- 269.6/269.6 kB 8.4 MB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\users\navyb\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\navyb\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Installing collected packages: regex, click, nltk
Successfully installed click-8.1.7 nltk-3.8.1 regex-2023.10.3

In [12]:
import nltk

In [13]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\navyb\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [14]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords